[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xlrd = "*"
pandas = "*"
openpyxl = "*"
pymongo = "*"
flask-cors = "*"
python-dotenv = "*"
langchain = "*"
langchain-openai = "*"
langchain-ollama = "*"
langchain-community = "*"
pypdf = "*"
pdfx = "*"
pydantic = "*"
langchain-google-genai = "*"
marshmallow = "*"
flask-pymongo = "*"
flask-mail = "*"
mailjet-rest = "*"
mailersend = "*"
flask = {extras = ["async"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
